/* bootstrap mixins */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

/* bootstrap mixins */

$ty-blue: rgb(116, 185, 227);
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    @include translate(0, -50%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
}


/* Links Styling */

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}


/* Align text center */

.ty-txt-center {
    text-align: center;
}


/* Styles for icons */

.ty-icon {
    @extend .ty-txt-center;
    display: inline-block;
    font-size: 1em;
    color: #555;
    font-style: normal;
    &:before {
        display: inline-block;
    }
}


/* form elements styling */

input[type='radio'] {
    position: relative;
    width: 16px;
    height: 16px;
    visibility: hidden;
    vertical-align: text-top;
    &:before,
    &:after {
        content: " ";
        visibility: visible;
        border-radius: 50%;
        display: inline-block;
    }
    &:before {
        width: 100%;
        height: 100%;
    }
    &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto auto;
        border-radius: 50%;
        width: 6px;
        height: 6px;
    }
    &.ty-input-white {
        &:before {
            border: 2px solid white;
        }
        &:checked:after {
            background-color: white;
        }
    }
}

.ty-form {}

.ty-input-group {
    margin-bottom: 10px;
    @at-root {
        div#{&} {
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
    }
    .ty-input-group {
        margin-bottom: 0;
    }
}

.ty-input-addon {
    position: relative;
    display: inline-block;
    .ty-icon {
        position: absolute;
        top: 0;
        height: 100%;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 3px 0 0 3px;
        left: 0;
        &:before {
            @include vertical-align();
        }
        &.right {
            left: initial;
            right: 0;
            border-radius: 0 3px 3px 0;
        }
        &.ty-icon-default {
            color: rgb(180, 180, 180);
        }
    }
}

.ty-input {
    outline: 0;
    border-radius: 3px;
    border: 1px solid rgb(230, 230, 230);
}

.ty-button {
    border-radius: 3px;
    border: 0;
    &.ty-button-default {
        @extend .ty-txt-center;
        color: white;
        background-color: rgb(242, 88, 34);
    }
}


/* Grid Syling */

.ty-grid {
    .ty-row {
        @extend .row !optional;
        margin-left: -5px;
        margin-right: -5px;
    }
    .ty-columns {
        padding: 5px 5px;
    }
    &>div.ty-columns:nth-last-of-type(1) {
        margin-bottom: initial;
    }
}


/* Info Block styling */

.ty-info-block {
    position: relative;
    .ty-info-header,
    .ty-info-footer {
        font-size: 15px;
    }
    .ty-info-header,
    .ty-info-body {
        background: rgba(0, 0, 0, 0.4);
    }
    .ty-info-header {
        position: relative;
        padding: 13px 15px;
        background: rgba(0, 0, 0, 0.4);
        &.ty-header-transparent {
            background: transparent;
        }
        &.ty-header-fading {
            background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
            background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.15) 70%, rgba(0, 0, 0, 0) 100%);
        }
    }
    .ty-info-body {
        position: relative;
        padding: 0 15px;
        font-size: 12px;
        ul {
            list-style-type: none;
            margin: 0 0;
            padding-left: 0;
            li {
                @include clearfix();
                position: relative;
                padding: 0 0;
                a:hover {
                    .ty-top-trnd-txt {
                        text-decoration: underline;
                    }
                }
                .ty-top-trnd-txt {
                    display: inline-block;
                    color: #555;
                    width: 100%;
                    padding-right: 50px;
                }
                .ty-top-trnd-rs {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    color: #f05920;
                    margin: auto;
                    height: 16px;
                }
                &:last-child {
                    &:before {
                        border: none;
                    }
                }
                &:before {
                    content: " ";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    border-bottom: 1px dotted rgb(230, 230, 230);
                    @include scale(1.1, 1);
                }
            }
        }
    }
    .ty-info-footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 8px 15px;
        background: rgba(0, 0, 0, 0.4);
        &.ty-footer-transparent {
            background: transparent;
        }
        &.ty-footer-fading {
            /*
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
            */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 30%, rgba(0, 0, 0, 0.28) 100%, rgba(0, 0, 0, 0.65) 100%);
        }
    }
    &.ty-top-trnd-blk {
        background-color: white;
        .ty-info-header,
        .ty-info-body {
            color: rgb(122, 122, 122);
            background-color: transparent;
        }
        .ty-info-body {
            font-size: 14px;
        }
        .ty-info-footer {
            color: white;
            background: rgb(0, 143, 201);
        }
    }
}


/* Center Elements */

.ty-center-static {
    &.h-center {
        display: block;
        margin: auto;
    }
}

.ty-abs-parent {
    position: relative;
}

.ty-abs {
    position: absolute;
    &.all-center {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    &.h-center {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    &.v-center {
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }
    &.left-top {
        left: 0;
        top: 0;
    }
    &.right-top {
        right: 0;
        top: 0;
    }
    &.right-bottom {
        right: 0;
        bottom: 0;
    }
    &.left-bottom {
        left: 0;
        bottom: 0;
    }
}


/*Popular cities dropdown*/

.ty-atc-city-matched {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 224px;
    overflow: auto;
    background-color: white;
    box-shadow: 0 0 1px #bdbdbd inset;
    color: black;
    z-index: 1;
    .ty-atc-header {
        color: white;
        font-weight: bold;
        padding: 5px 5px;
        background: rgb(230, 230, 230);
    }
    >ul {
        margin: 0;
        padding: 0;
    }
}

.ty-atc-city-matched li:first-letter {
    text-transform: uppercase;
}

.ty-atc-city-matched li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 7px 5px;
}

.ty-atc-city-matched li:hover {
    background-color: #e24a00;
    color: white;
}


/* One-way , Return-trip selection styles */

.ty-return-trip {
    display: none;
}


/* Show and Hide class */

.ty-show-b {
    display: block;
}

.ty-show-ib {
    display: inline-block;
}

.ty-hide {
    display: none;
}


/* Sprites used as icons */

.ty-icon {
    &.ty-icon-sprites {
        background: transparent url("/images/sprites.png") no-repeat 0 0;
    }
    &.icon-volvo {
        background-position: 0 -47px;
    }
    &.icon-mercedes {}
    &.icon-scania {
        background-position: 0 -93px;
    }
    &.icon-isuzu {
        background-position: 0 -139px;
    }
}


/* Plus Minus Buttons */

.ty-icon.ty-plus-minus {
    min-width: 90px;
    white-space: nowrap;
    border: none;
    .ty-plus,
    .ty-minus {
        display: inline-block;
        width: 45px;
        vertical-align: middle;
        cursor: pointer;
    }
    &:before {
        content: " ";
        position: absolute;
        left: 50%;
        height: 100%;
        width: 1px;
        border-top: 5px solid rgba(0, 0, 0, 0);
        border-bottom: 5px solid rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 1px #7A868E;
    }
}


/* button for scrolling to top styling */

.ty-scrollto-top {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: transparent url("/images/sprites.png") no-repeat -7px -190px
}
