/* bootstrap mixins */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

/* bootstrap mixins */

.header-blk {}

.header-top-container {
    font-size: 12px;
    color: rgb(153, 153, 153);
    background-color: rgb(238, 238, 238);
    border-bottom: 2px solid rgb(153, 153, 153);
    .container {
        .row {
            padding-left: 35px;
            padding-right: 35px;
        }
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    .psc-ticket,
    .download-app,
    .customer-care {
        .ty-icon {
            color: inherit;
        }
    }
    .psc-ticket {
        display: inline-block;
    }
    .download-app,
    .customer-care {
        margin-left: 13px;
    }
    .customer-care {
        .icon-arrow_drop_down {
            @include scale(1.8, 1.8);
        }
    }
}

.header-top-right {
    float: right;
    ul {
        margin: 0 0;
        padding-left: 0;
        list-style-type: none;
        li {
            display: inline-block;
        }
    }
    span {
        display: inline-block;
    }
    .act-wrapper,
    .auth-wrapper {
        display: inline-block;
    }
    .customer-care {
        margin-right: 10px;
    }
    .login-link,
    .register-link {
        color: rgb(89, 89, 89);
        a {
            margin-right: 8px;
            padding: 8px 0;
        }
    }
}

.header-bottom-container {
    height: 65px;
    padding: 15px 0;
    >div {
        @include clearfix();
        height: inherit;
        padding-left: 0;
        padding-right: 0;
    }
    .ty-logo {
        padding: 10px 0;
    }
}

.naviage-wrapper {
    float: right;
    height: 100%;
}

.navigate-links,
.other-links {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    .link-wrapper {
        display: none;
        text-decoration: none;
        height: inherit;
        font-size: 12px;
        width: 75px;
        text-align: center;
        .link-icon-wrapper {
            height: 40px;
            .ty-icon {
                padding-top: 3px;
                color: inherit;
            }
        }
        &.xs-show-link {
            display: inline-block;
        }
    }
    .ty-icon {
        width: 100%;
        font-size: 25px;
    }
}

.navigate-links {
    .link-wrapper {
        color: rgb(0, 137, 209);
        &.active {
            color: rgb(240, 89, 32);
            border-bottom: 3px solid rgb(240, 89, 32);
        }
    }
}

.other-links {
    .link-wrapper {
        color: rgb(152, 152, 152);
    }
}

.header-menu-blk {
    position: relative;
    z-index: 11;
    ul {
        position: absolute;
        top: 100%;
        right: 0;
        display: none;
        list-style: none;
        padding-left: 0;
        color: black;
        background-color: #eee;
        padding: 15px 0;
    }
    li {
        display: inline-block;
        padding: 10px 10px;
    }
}

@media only screen and (min-width: 768px) {
    .header-top-container {
        .container {
            .row {
                padding-left: 75px;
                padding-right: 75px;
            }
        }
    }
    .navigate-links,
    .other-links {
        .link-wrapper {
            width: 100px;
            &.sm-show-link {
                display: inline-block;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .navigate-links,
    .other-links {
        .link-wrapper {
            &.md-show-link {
                display: inline-block;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .navigate-links,
    .other-links {
        .link-wrapper {
            display: inline-block;
            &.lg-show-link {
                display: inline-block;
            }
        }
    }
}
