<div class="_hp">
    <section class="row ticket-blk">
        <div class="ticket-blk-wrapper">
            <div class="col-sm-7 search-blk">
                <div class="title">CHECK BUS TICKET AVAILABILITY</div>
                <form class="ty-form">
                    <div class="row ty-input-group label-blk">
                        <label class="col-sm-4">
                            <input name="trips" type="radio" class="ty-input-white" checked /> One-way
                        </label>
                        <label class="col-xs-4">
                            <input name="trips" type="radio" class="ty-input-white" /> Return-trip
                        </label>
                        <label class="col-xs-4">
                            <input name="trips" type="radio" class="ty-input-white" /> Multi-city
                        </label>
                    </div>
                    <div class="ty-input-group">
                        <span class="ty-input-addon">
                        <i class="ty-icon ty-icon-default icon-tv"></i>
                        <input type="text" id="from-city" class="ty-input" placeholder="From" />
                    </span>
                    </div>
                    <div class="ty-input-group">
                        <span class="ty-input-addon">
                        <i class="ty-icon ty-icon-default icon-tv"></i>
                        <input type="text" id="to-city" class="ty-input" placeholder="To" />
                    </span>
                    </div>
                    <div class="ty-input-group datepicker-blk">
                        <span class="ty-input-addon">
                        <i class="ty-icon ty-icon-default icon-tv"></i>
                        <input type="text" class="ty-input" placeholder="14 April" />
                        <i class="ty-icon ty-icon-default right"></i>
                    </span>
                    </div>
                    <div class="ty-input-group">
                        <button class="ty-button ty-button-default">SEARCH BUS</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-5 subscribe-blk">
                <div class="image-carousel-blk">
                </div>
                <form class="ty-form">
                    Deals in your inbox. Receive travelyaari promotions
                    <div class="ty-input-group">
                        <span class="ty-input-addon">
                            <input type="text" class="ty-input" placeholder="Enter email address" />
                            <i class="ty-icon ty-icon-default right"></i>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="row ads-blk ty-grid">
        <div class="col-xs-6 col-md-3 ty-columns">
            <div class="info-blk"></div>
        </div>
        <div class="col-xs-6 col-md-3 ty-columns">
            <div class="info-blk"></div>
        </div>
        <div class="col-xs-6 col-md-3 ty-columns">
            <div class="info-blk"></div>
        </div>
        <div class="col-xs-6 col-md-3 ty-columns">
            <div class="info-blk"></div>
        </div>
    </section>
    <section class="row ty-grid page-blk">
        <div class="col-xs-12 ty-columns section-heading">
            <span class="section-icon"></span> BUS
        </div>
        <div class="col-xs-12 spl-blk v-md-blk">
            <div class="row">
                <div class="col-xs-4 col-md-5 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-5 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 v-xs-blk">
            <div class="row">
                <div class="col-sm-6 ty-columns h-xs-blk">
                    <div class="ty-row">
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ty-columns h-xs-blk">
                    <div class="ty-row">
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row ty-grid page-blk">
        <div class="col-xs-12 ty-columns section-heading">
            <span class="section-icon"></span> TOUR
        </div>
        <div class="col-xs-12 v-sm-blk">
            <div class="row">
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 spl-blk v-md-blk">
            <div class="row">
                <div class="col-xs-4 col-md-5 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-5 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row ty-grid page-blk">
        <div class="col-xs-12 ty-columns section-heading">
            <span class="section-icon"></span> ACTIVITY
        </div>
        <div class="col-xs-12 v-sm-blk">
            <div class="row">
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 spl-blk v-md-blk">
            <div class="row">
                <div class="col-xs-4 col-md-5 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-5 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row ty-grid page-blk">
        <div class="col-xs-12 ty-columns section-heading">
            <span class="section-icon"></span> ROOM
        </div>
        <div class="col-xs-12 spl-blk v-md-blk">
            <div class="row">
                <div class="col-xs-4 col-md-5 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-5 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ty-columns">
                    <div class="ty-info-block info-blk">
                        <div class="ty-info-header">
                            header
                        </div>
                        <div class="ty-info-footer">
                            footer
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 v-xs-blk">
            <div class="row">
                <div class="col-sm-6 ty-columns h-xs-blk">
                    <div class="ty-row">
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ty-columns h-xs-blk">
                    <div class="ty-row">
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                        <div class="ty-columns">
                            <div class="ty-info-block info-blk">
                                <div class="ty-info-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
